@{
    ViewBag.Title = "Trang chủ";
}
<!-- SECTION BANNER -->
<section class="banner" data-stellar-background-ratio="0.5" style="background-position: 0px 43px;">
    <div class="inner">
        <h2 class="title-lg wow bounceInDown animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceInDown;">SMARTHOME VÀ KHÓA ĐIỆN TỬ</h2>
        <h2 class="title-md wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInDown;">Giải pháp cho ngôi nhà của bạn</h2>
        <a href="#" class="btn button-primary wow fadeInUp animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">Videos <i class="icon icon-chevron-right"></i></a>

        <div class="content-nav">
            <div class="container">
                <ul class="row list-nav">
                    <li class="col-md-2 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-security-surveillance"></i>
                            </span>
                            <span class="text">An ninh giám sát</span>
                        </a>
                    </li>
                    <li class="col-md-2 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-intelligent-lighting"></i>
                            </span>
                            <span class="text">Điều khiển chiếu sáng</span>
                        </a>
                    </li>
                    <li class="col-md-2 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-multiroom-audio"></i>
                            </span>
                            <span class="text">Âm thanh đa vùng</span>
                        </a>
                    </li>
                    <li class="col-md-2 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-air-conditioning-control"></i>
                            </span>
                            <span class="text">Điều khiển điều hòa</span>
                        </a>
                    </li>
                    <li class="col-md-2 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-intelligent-control"></i>
                            </span>
                            <span class="text">Điều khiển thông minh</span>
                        </a>
                    </li>
                    <li class="col-md-2 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-environmental-control"></i>
                            </span>
                            <span class="text">Kiểm soát môi trường</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- SECTION ARTICLE FEATURED -->
<section class="article-featured">
    <div class="container">
        <div class="row">
            @if (ViewBag.news != null) { 
                var count=0;
               <div class="wrap-title col-md-12">
                            <a class="title-lg" style="float:left;">
                                <span>Tin tức sản phẩm</span>
                            </a>
                            <a href="/tin-tuc-san-pham-0/1" class="view-all right" style="float:right;">
                                <i class="icon icon-view-all"></i>
                                XEM TẤT CẢ
                            </a>
               </div>
                foreach(var item in ViewBag.news){
                    var link = "/" +Aries.Config.getCatName(item.cat_id) + "/" + Aries.Config.unicodeToNoMark(item.new_title) + "-" + item.id;
                <article class="col-sm-4 col-xs-6 article wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="article-info">
                        <a href="@link">
                            <img class="image" src="@item.new_img" alt="@item.new_title" style="border:1px solid #808080;">
                        </a>
                        <h4 class="title">
                            <a href="@link">@item.new_title</a>
                        </h4>
                        <p class="description">
                            @item.new_des
                        </p>
                    </div>
                </article>
                    count++;
                }
            }
        </div>
    </div>
</section>
<!-- SECTION ARTICLE FEATURED -->
<section class="article-featured">
    <div class="container">
        <div class="row">
            <article class="col-sm-12 col-xs-6 article wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="wrap-title">
                    <h3 class="title-lg">
                        <a href="#">Video</a>
                    </h3>
                    <a href="#" class="view-all">
                        <i class="icon icon-view-all"></i>
                        XEM TẤT CẢ
                    </a>
                </div>
                <div class="article-info">
                    <iframe width="100%" height="399" src="https://www.youtube.com/embed/FY2gRg37yDs" frameborder="0" allowfullscreen></iframe>
                    <h4 class="title">
                        <a href="#/">ZIPATILE - Bộ điều khiển căn hộ thông minh - Tất cả trong 1 </a>
                    </h4>
                    <p class="description">
                        Zipatile - Sản phẩm đạt giải thưởng đột phá về công nghệ tại CES 2017 - Hội chợ hàng điện tử tiêu dùng Mỹ.
                        Sản phẩm nhà thông minh đích thực được phân phối chính thức bởi Công ty TNHH Công nghệ Aries
                        Để biết thêm thông tin truy cập www.zipato.com.vn
                    </p>
                </div>
            </article>
            <article class="col-sm-4 col-xs-6 article wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                @*<div class="wrap-title">
                        <h3 class="title-lg">
                            <a href="#">Khóa điện tử</a>
                        </h3>
                        <a href="#" class="view-all">
                            <i class="icon icon-view-all"></i>
                            XEM TẤT CẢ
                        </a>
                    </div>*@
                <div class="article-info">
                    <iframe width="100%" height="199" src="https://www.youtube.com/embed/YvSmPeXsEKs" frameborder="0" allowfullscreen></iframe>
                    <h4 class="title">
                        <a href="#">Khóa thông minh Schlage Connect </a>
                    </h4>
                    <p class="description">
                        Khóa điện tử Schlage Connect - Khóa dành riêng cho căn hộ thông minh.
                        Schlage thương hiệu hàng đầu về khóa tại Mỹ. Nay đã được phân phối tại Việt Nam bởi ARIESTECH CO.,LTD.
                    </p>
                </div>
            </article>
            <article class="col-sm-4 col-xs-6 article wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                @*<div class="wrap-title">
                        <h3 class="title-lg">
                            <a href="#">Khóa điện tử</a>
                        </h3>
                        <a href="#" class="view-all">
                            <i class="icon icon-view-all"></i>
                            XEM TẤT CẢ
                        </a>
                    </div>*@
                <div class="article-info">
                    <iframe width="100%" height="199" src="https://www.youtube.com/embed/GlPqI-VnqQs" frameborder="0" allowfullscreen></iframe>
                    <h4 class="title">
                        <a href="#">Cuộc sống dễ dàng hơn với khóa điện tử Schlage Touch </a>
                    </h4>
                    <p class="description">
                        Khóa điện tử Schlage Touch - dành cho thị trường Mỹ đã có mặt tại Việt Nam
                        Để biết thêm thông tin truy cập www.ariestechco.com
                        hoặc liên hệ support@ariestechco.com
                    </p>
                </div>
            </article>
            @*<article class="col-sm-4 col-xs-6 article wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="wrap-title">
                        <h3 class="title-lg">
                            <a href="#">Khóa điện tử</a>
                        </h3>
                        <a href="#" class="view-all">
                            <i class="icon icon-view-all"></i>
                            XEM TẤT CẢ
                        </a>
                    </div>
                    <div class="article-info">
                        <iframe width="100%" height="199" src="https://www.youtube.com/embed/wLhXcCFzF5A" frameborder="0" allowfullscreen></iframe>
                        <h4 class="title">
                            <a href="#">Khóa điện tử Schlage Touch - Kỷ nguyên không chìa khóa </a>
                        </h4>
                        <p class="description">
                            Khóa điện tử Schlage Touch - dành cho thị trường Mỹ đã có mặt tại Việt Nam
                        </p>
                    </div>
                </article>*@
            <article class="col-sm-4 col-xs-6 article wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                @*<div class="wrap-title">
                        <h3 class="title-lg">
                            <a href="#">Khóa điện tử</a>
                        </h3>
                        <a href="#" class="view-all">
                            <i class="icon icon-view-all"></i>
                            XEM TẤT CẢ
                        </a>
                    </div>*@
                <div class="article-info">
                    <iframe width="100%" height="199" src="https://www.youtube.com/embed/wMGw8Bcm9AA" frameborder="0" allowfullscreen></iframe>
                    <h4 class="title">
                        <a href="">Khóa thông minh Schlage Sense </a>
                    </h4>
                    <p class="description">
                        Khóa điện tử thông minh Schlage Sense - Sản phẩm hoàn hảo cho căn nhà bạn. Mang tới sự tiện nghi không giới hạn
                    </p>
                </div>
            </article>
            @*<article class="col-sm-12 col-xs-6 article wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="wrap-title">
                        <h3 class="title-lg">
                            <a href="#">Khóa điện tử</a>
                        </h3>
                        <a href="#" class="view-all">
                            <i class="icon icon-view-all"></i>
                            XEM TẤT CẢ
                        </a>
                    </div>
                    <div class="article-info">
                        <iframe width="100%" height="399" src="https://www.youtube.com/embed/wMGw8Bcm9AA" frameborder="0" allowfullscreen></iframe>
                        <h4 class="title">
                            <a href="#">Khóa thông minh Schlage Sense </a>
                        </h4>
                        <p class="description">
                            Khóa điện tử thông minh Schlage Sense - Sản phẩm hoàn hảo cho căn nhà bạn. Mang tới sự tiện nghi không giới hạn
                        </p>
                    </div>
                </article>
                <article class="col-sm-4 col-xs-6 article wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="wrap-title">
                        <h3 class="title-lg">
                            <a href="#">Công trình tiêu biểu</a>
                        </h3>
                        <a href="#" class="view-all">
                            <i class="icon icon-view-all"></i>
                            XEM TẤT CẢ
                        </a>
                    </div>
                    <div class="article-info">
                        <img class="image" src="~/Content/images/sp1.jpg" alt="Các công trình đang thi công của công ty" style="height:515px;">
                        <h4 class="title">
                            <a href="#" class="js-popup-youtube " title="Các công trình đang thi công của công ty">Các công trình đang thi công của công ty</a>
                        </h4>
                        <p class="description"></p>
                    </div>
                </article>*@
        </div>
    </div>
</section>
<section class="download-brochure" data-stellar-background-ratio="0.5" style="background-position: 0px -338px;">
    <div class="container">
        <a href="/images/Zipato.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Tải brochure Nhà Thông Minh Zipato
            <i class="icon icon-chevron-right"></i>
        </a>
        <a href="/images/ZIPATILE.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Tải brochure Phụ Kiện Nhà Thông Minh Zipato
            <i class="icon icon-chevron-right"></i>
        </a>
        <a href="/images/FlyerSchlageConnectViet.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Brochure khóa Schlage Connect
            <i class="icon icon-chevron-right"></i>
        </a>
        <a href="/images/FlyerSchlageSenseViet.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Brochure khóa Schlage Sense
            <i class="icon icon-chevron-right"></i>
        </a>
        <a href="/images/FlyerSchlageTouchViet.pdf" class="btn button-primary wow flipInX animated animated" data-wow-delay="1.2s" style="cursor: pointer; visibility: visible; animation-delay: 1.2s; animation-name: flipInX;">
            Brochure khóa Schlage Touch
            <i class="icon icon-chevron-right"></i>
        </a>
    </div>
</section>